body {
  text-align: left;
	padding-left: 11em;
	font-family: "futura-bold",Helvetica,Arial,Sans-serif;
	color: black;
	background-color: white
}

.formulario{
  position: absolute;
  left: 35em;
  top:10em;
  padding: 1em;
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  border-color: blue
}
.volver{
  position: absolute;
  right: 2em
}
.logo{
  position: absolute;
  left: 22mm;
  top: 3mm;
  margin: 0
}
.logo2{
  position: absolute;
  right: 5mm;
  top: 7mm;
  margin: 0
}
.contenedor
{
  float:left;
  width:100%;
  height:100%;
  background: white;
}

.contenedor .canvas
{
  float:left;
  left:26%;
  top:19%;
  border-style: none|hidden;
  border-radius: 3px;
  width:70%;
  height:85%;
  position:absolute;
  padding:0px 0px;
  margin:0px 0px;
}



.contenedor .menuizq
{
  border-right: solid; 
  border-color: black;
  
  text-align: left;
  position: absolute;
  top: 4.5em;
  left: 1em;
  width: 14em;
  padding: 0;
  padding-right: 2em;
  margin: 0 
}



.contenedor .menuizq li
{
  list-style-type: square;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  left:10%;
  width:100%;
  height:10%;
  background:white;
  padding: 0.3em;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0.5em 0;
  color:blue;
 
}

.menuizq .sublista1
{
  position: relative;
  left: 2em;
  width:78%
}
.menuizq .sublista2
{
  
  position: relative;
  font-weight: normal;
  left: 0em;
  width:100%;
  text-decoration: none;
  list-style-type: none
}

.menuizq .sublista2 li
{
  list-style-type: circle;
}

ul.navbar {
 	position: absolute;
 	top: 5em;
  left: 1em;
 	width: 9em;
 	list-style-type: none;
 	padding: 0;
 	margin: 0 
}
ul.navbar li {
 	background: white;
 	margin: 0.5em 0;
 	padding: 0.3em;
 	border-right: 1em solid blue 
}
ul.navbar a {
 	text-decoration: none 
}
a:link {
 	color: blue 
}
a:visited {
 	color: blue 
}
h1 {
font-family: "futura-bold",Helvetica,Arial,Sans-serif;
left: 30px;
position: relative;
text-align: center;
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted 
}


.contenedor .canvas .Menuinf
{
  float:left;
  left:15%;
  top:92%;
  border:none;
  width:70%;
  height:8%;
  position:absolute;
  padding:0px 0px;
  margin:0px 0px;
}
.contenedor .canvas .Menuinf li
{
  float:left;
  top:0%;
  border:none;
  width:33.33%;
  height:100%;
  background:#49494B;
  padding:0px 0px;
  margin:0px 0px;
  color:blue;
}

.volver
{
  position: absolute;
  top: 93%;
  left: 96%;
  margin: 0;
  padding-bottom: 0;
  color: blue
}


#navegador { heigth:40px; width: 800px; background-color: black; padding: 5px; }
#navegador li { margin:5px; padding: 5px; background-color: blue; width: 200px; float: left; list-style-type: none;  position: relative;  }
#navegador li a:link { color: #feffe4; text-decoration: none; }
#navegador li a:visited { color: #feffe4; text-decoration: none; }
#navegador li a:hover { color:#ffd7a9 ; text-decoration: none; }
#navegador li a:active { color:#ffd7a9 ; text-decoration: none; }
#subseccion1 { padding: 5px; width: 200px;
position: absolute; top: 100%; left: 0px; background-color: black; font-family: arial; display: none; }